@charset "CP850";
/* Variables */
/* Imports necesarios */
html, body {
  height: 100%;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixins */
/* Mixins
--------------------------------- */
/* COMÚN
--------------------- */
body {
  font-size: 16px;
  overflow: hidden; }

p {
  margin: 0; }

div[role="main"] {
  height: 100%;
  width: 800%;
  position: relative;
  overflow: hidden; }
  div[role="main"] .fons {
    background-size: cover;
    background-position: bottom;
    width: 12.5%;
    height: 100%;
    float: left;
    position: relative; }
    div[role="main"] .fons#any2006 {
      z-index: 1000;
      background-image: url(../images/fondos/2006.jpg); }
      div[role="main"] .fons#any2006 .family {
        height: 195px;
        position: absolute;
        bottom: 114px;
        right: 91px; }
    div[role="main"] .fons#any2007 {
      background-image: url(../images/fondos/2007.jpg);
      z-index: 999; }
      div[role="main"] .fons#any2007 .family {
        height: 540px;
        position: absolute;
        bottom: 80px;
        right: 349px; }
    div[role="main"] .fons#any2008 {
      background-image: url(../images/fondos/2008.jpg);
      z-index: 998; }
      div[role="main"] .fons#any2008 .family {
        height: 600px;
        position: absolute;
        bottom: 35px;
        right: 48px; }
    div[role="main"] .fons#any2009 {
      background-image: url(../images/fondos/2009.jpg);
      z-index: 997; }
      div[role="main"] .fons#any2009 .family {
        height: 139px;
        position: absolute;
        bottom: 85px;
        right: 438px; }
    div[role="main"] .fons#any2010 {
      background-image: url(../images/fondos/2010.jpg);
      z-index: 996; }
      div[role="main"] .fons#any2010 .family {
        height: 652px;
        position: absolute;
        bottom: 5px;
        right: 48px; }
    div[role="main"] .fons#any2011 {
      background-image: url(../images/fondos/2011.jpg);
      z-index: 995; }
      div[role="main"] .fons#any2011 .family {
        height: 633px;
        position: absolute;
        bottom: -190px;
        right: 118px; }
    div[role="main"] .fons#any2012 {
      background-image: url(../images/fondos/2012.jpg);
      z-index: 994; }
      div[role="main"] .fons#any2012 .family {
        height: 72px;
        position: absolute;
        bottom: 110px;
        right: 548px; }
    div[role="main"] .fons#any2013 {
      background-image: url(../images/fondos/2013.jpg);
      z-index: 993; }
      div[role="main"] .fons#any2013 .family {
        height: 300px;
        position: absolute;
        bottom: 280px;
        right: 578px; }
    div[role="main"] .fons .datos {
      background: #505759;
      height: 100%;
      width: 500px;
      margin-left: -500px;
      font-family: 'Dancing Script', cursive;
      color: #fff;
      font-size: 1.4em;
      float: left;
      position: relative;
      cursor: pointer;
      z-index: 999999999999999999999999999999999999; }
      div[role="main"] .fons .datos .text {
        color: #ced0cf;
        font-family: 'PT Sans', sans-serif;
        padding: 0 1em; }
      div[role="main"] .fons .datos h2, div[role="main"] .fons .datos h3 {
        font-family: 'Arvo', serif;
        background: tomato;
        margin: 1em 0 0 0;
        text-align: center;
        padding: .8em 0; }
      div[role="main"] .fons .datos h3 {
        font-family: 'Arvo', serif;
        background: none;
        text-align: left;
        padding: 0 .85em;
        margin-top: .8em; }
      div[role="main"] .fons .datos:after {
        content: '';
        text-align: center;
        width: 50px;
        background: tomato url(../images/informacion.png) center center no-repeat;
        display: block;
        height: 100%;
        float: right;
        position: absolute;
        top: 0;
        right: -50px; }

footer.footer {
  height: 4em;
  line-height: 4em;
  background: #fff;
  box-shadow: 0 0 6px #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999; }
  footer.footer ul {
    text-align: center; }
    footer.footer ul li {
      display: inline-block;
      margin-right: 1em; }
  footer.footer a {
    color: #2D2D2D;
    text-decoration: none;
    font-weight: bold; }
    footer.footer a:hover {
      text-decoration: underline; }
    footer.footer a.active {
      text-decoration: underline; }
  footer.footer img {
    position: absolute;
    bottom: .4em;
    right: 3em;
    z-index: 999999999999999;
    cursor: pointer; }
