// Importamos las librerias
@import "libs/base";

/* Mixins
--------------------------------- */
@mixin prefixr($que, $arguments) {
    #{$que}: $arguments;
    -webkit-#{$que}: $arguments;
    -ms-#{$que}: $arguments;
    -moz-#{$que}: $arguments;
    -o-#{$que}: $arguments;
}

@mixin transition($time) {
    @include prefixr(transition, all $time linear);
}


/* COMÚN
--------------------- */
body {
    font-size: 16px;
    overflow: hidden;
}

p { margin: 0; }



div[role="main"] {
    $containerWidth: 100%;
    $numAnys: 8;

    height: 100%;
    width: 800%;
    position: relative;
    overflow: hidden;

    .fons {
        background-size: cover;
        background-position: bottom;
        width: $containerWidth / $numAnys;
        height: 100%;
        float: left;
        position: relative;

        &#any2006 {
            z-index: 1000;
            background-image: url(../images/fondos/2006.jpg);

            .family {
                height: 195px;
                position: absolute;
                bottom: 114px;
                right: 91px;
            }
        }

        &#any2007 {
            background-image: url(../images/fondos/2007.jpg);
            z-index: 999;

            .family {
                height: 540px;
                position: absolute;
                bottom: 80px;
                right: 349px;
            }
        }

        &#any2008 {
            background-image: url(../images/fondos/2008.jpg);
            z-index: 998;

            .family {
                height: 600px;
                position: absolute;
                bottom: 35px;
                right: 48px;
            }
        }

        &#any2009 {
            background-image: url(../images/fondos/2009.jpg);
            z-index: 997;

            .family {
                height: 139px;
                position: absolute;
                bottom: 85px;
                right: 438px;
            }
        }

        &#any2010 {
            background-image: url(../images/fondos/2010.jpg);
            z-index: 996;

            .family {
                height: 652px;
                position: absolute;
                bottom: 5px;
                right: 48px;
            }
        }

        &#any2011 {
            background-image: url(../images/fondos/2011.jpg);
            z-index: 995;

            .family {
                height: 633px;
                position: absolute;
                bottom: -190px;
                right: 118px;
            }
        }

        &#any2012 {
            background-image: url(../images/fondos/2012.jpg);
            z-index: 994;

            .family {
                height: 72px;
                position: absolute;
                bottom: 110px;
                right: 548px;
            }
        }

        &#any2013 {
            background-image: url(../images/fondos/2013.jpg);
            z-index: 993;

            .family {
                height: 300px;
                position: absolute;
                bottom: 280px;
                right: 578px;
            }
        }



        .datos {
            $width: 500px;

            background: rgb(80, 87, 89);
            height: 100%;
            width: $width;
            margin-left: -$width;
            font-family: 'Dancing Script', cursive;
            color: #fff;
            font-size: 1.4em;
            float: left;
            position: relative;
            cursor: pointer;
            z-index: 999999999999999999999999999999999999;

            .text {
                color: #ced0cf;
                font-family: 'PT Sans', sans-serif;
                padding: 0 1em;
            }

            h2, h3 {
                font-family: 'Arvo', serif;
                background: tomato;
                margin: 1em 0 0 0;
                text-align: center;
                padding: .8em 0;
            }

            h3 {
                font-family: 'Arvo', serif;
                background: none;
                text-align: left;
                padding: 0 .85em;
                margin-top: .8em;
            }

            &:after {
                $width: 50px;

                content: '';
                text-align: center;
                width: $width;
                background: tomato url(../images/informacion.png) center center no-repeat;
                display: block;
                height: 100%;
                float: right;
                position: absolute;
                top: 0;
                right: -$width;

            }

        }
    }
}

footer.footer {
    height: 4em;
    line-height: 4em;
    background: #fff;
    box-shadow: 0 0 6px #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999999;

    ul {
        text-align: center;

        li {
            display: inline-block;
            margin-right: 1em;
        }
    }

    a {
        color: #2D2D2D;
        text-decoration: none;
        font-weight: bold;

        &:hover { text-decoration: underline; }

        &.active { text-decoration: underline; }
    }

    img {
        position: absolute;
        bottom: .4em;
        right: 3em;
        z-index: 999999999999999;
        cursor: pointer;
    }
}